@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

.background {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 8%;
  left: 70px;
  width: 6%;
}

.title {
  font-family: 'Bitter', serif;
  position: absolute;
  top: 35%;
  left: 70px;
  width: 100%;
  color: #0a2739;
  font-size: 3em;
}

.bar {
  position: absolute;
  width: 40px;
  top: 49%;
  left: 70px;
}

.soon {
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  top: 50%;
  left: 70px;
  width: 25%;
  line-height: 2em;
  font-size: 1em;
  color: #0a2739;
}

a {
  color: #0a2739;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.social-icons {
  list-style-type: none;
  margin: 0 auto 20px;
  padding: 0;
  width: 250px;
  height: 100px;
}

.tab {
  margin-right: 10px;
  border-radius: 0 0 25px 25px;
  float: left;
}

.circle {
  padding: 10px 10px;
  width: 40px;
  font-size: 40px;
  text-align: center;
  background: #dd745a;
  border-radius: 25px;
  border: solid 2px;
}

.fa-behance {
  color: #0a2739;
  border-color: #0a2739;
}

.fa-behance:hover {
  background-color: #0a2739;
}

.fa-instagram {
  color: #0a2739;
  border-color: #0a2739;
}

.fa-instagram:hover {
  background-color: #0a2739;
}

.fa-vimeo {
  color: #0a2739;
  border-color: #0a2739;
}

.fa-vimeo:hover {
  background-color: #0a2739;
}

.fa-linkedin {
  color: #0a2739;
  border-color: #0a2739;
}

.fa-linkedin:hover {
  background-color: #0a2739;
}

.fa-behance:hover, .fa-instagram:hover, .fa-vimeo:hover, .fa-linkedin:hover {
  color: hsl(0, 0%, 100%);
}

.screen-reader {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

footer {
  position: absolute;
  bottom: 5px;
  left: 70px;
}

/*---------------breakpoints---------*/

@media only screen and (max-width: 1300px) {
  .title {
    top: 30%;
    left: 70px;
    width: 100%;
    font-size: 2em;
  }

.bar {
  width: 30px;
  top: 43%;
}

  .soon {
    top: 45%;
    left: 70px;
    width: 25%;
    line-height: 2em;
  }
    }
}

@media only screen and (max-width: 500px) {
  .title {
    top: 25%;
    left: 70px;
    width: 100%;
    font-size: 1em;
  }

.bar {
  width: 30px;
  top: 43%;
}

  .soon {
    top: 45%;
    left: 70px;
    width: 25%;
    line-height: 2em;
  }
    }
}
